/* Diagram frame */
.diagram {}

/* Diagram background */
.diagram-background {
    fill: none;
}

/* Line of the diagram grid */
.diagram-grid {
    stroke-width: 0.5px;
}

/* Axis of the diagram */
.diagram-axis {
    fill: none;
}

/* Text in the diagram */
.diagram-text {
    font: 10px sans-serif;
    dominant-baseline: middle;
}

/* Numbers on the axis */
.diagram-axis-number {
    font: 10px sans-serif;
    dominant-baseline: middle;
}

/* Line in the diagram */
.diagram-line {}

/* Point in the diagram */
.diagram-point {
    r: 1px;
}

/* Text aligned to the right */
.anchor-end {
    text-anchor: end;
}

/* Text aligned to the middle */
.anchor-middle {
    text-anchor: middle;
}
